.product-gallery {
  flex-grow: 1;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-gallery img {
  max-width: 100%;
}

.product-description {
  flex-grow: 1;
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 50px;
}
.product-description.add-to-cart-btn {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.product-details-page {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  margin: auto;
}
